/* Miguel Ángel Sánchez 2015-17 */

@font-face {
    font-family: Lato;
    font-weight: 400;
    src: url("../fonts/lato-regular-webfont.woff");
}

@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url("../fonts/lato-light-webfont.woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

/* @font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("../fonts/Roboto-Light.ttf");
} */


body {
    margin: 0;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: inherit;
}

header ul li:hover {
    -webkit-box-shadow: 0 -4px 0 0 rgb(74, 150, 191) inset;
    -moz-box-shadow: 0 -4px 0 0 rgb(74, 150, 191) inset;
    box-shadow: 0 -4px 0 0 rgb(74, 150, 191) inset;
}

.header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #2a5873;
}
.header h1 {
    font-size: 5rem;
    margin-bottom: 35px;
    margin-top: 75px;
    animation: content 0.5s;
}
.separator {
    width: 70%;
    height: 4px;
    background-color: #4C4C4C;
    border-radius: 100px;
    margin: 0 auto;
    animation: separator 0.6s;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    padding: 10px;
    height: auto;
    background-color: #FEFEFE;
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    animation: content 0.7s;
}

.social-links {
    display: inline-block;
    width: 100%;
    text-align: center;

}
.social-links img {
    width: 175px;
}
.social-links img:hover {
    opacity:0.6;
}
.social-links .middle-element {
    margin-left: 5%;
    margin-right: 5%;
}

/* Animations */
@-webkit-keyframes separator {
    0% {width: 10%;}
    100% {width: 70%;}
}

@keyframes separator {
    0% {width: 10%;}
    100% {width: 70%;}
}

@-webkit-keyframes content {
    0% {opacity: 0.55;}
    100% {opacity: 1;}
}

@keyframes content {
    0% {opacity: 0.45;}
    100% {opacity: 1;}
}

/* It defines itself */
@media (orientation: portrait) and (max-width: 450px) {
    body {
        background-color: #F2F2F2;
    }
    .header h1 {
        font-size: 4rem;
        margin-top: 50px;
        margin-bottom: 14px;
    }
    header ul {
        float: none;
        padding: 0;
    }
    header ul li {
        margin: 0 5px 0 10px;
    }
    @-webkit-keyframes separator {
        0% {width: 10%;}
        100% {width: 75%;}
    }
    @keyframes separator {
        0% {width: 10%;}
        100% {width: 75%;}
    }
    .separator {
        width: 75%;
    }
    .content {
        margin-left: 7.5%;
        margin-right: 7.5%;
        font-size: 1.1rem;
    }
    .social-links img {
        width: 160px;
    }
    .social-links .middle-element {
        margin: 12.5% 0 12.5% 0;
    }
}
@media (min-width: 1000px) {
    .content {
        height: 40%;
    }
}
/* @media (orientation: landscape) and (max-width: 1100px) {
    header ul {
        float: none;
        padding:0;
    }
} */