/* Miguel Ángel Sánchez 2015-17 */

@font-face {
    font-family: Lato;
    font-weight: 400;
    src: url("../fonts/lato-regular-webfont.woff");
}
@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url("../fonts/lato-light-webfont.woff");
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: url(../img/G-background.jpg);
    background-position-x: center;
    background-position-y: -170px;
    background-size: 130%, 130%;
    -webkit-animation: waitOnLoad 0.2s, animback 1s 0.2s;
    animation: waitOnLoad 0.2s, animback 1s 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height:50px;
    background-color: #fcfcfc;
    -webkit-animation: animheader 1.5s;
    animation: animheader 1.5s;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}

header ul {
    margin:0;
    list-style: outside none none;
    padding-right: 68px;
    float: right;
    -webkit-animation: animheader 1.5s;
    animation: animheader 1.5s;
}
header ul li {
    padding: 10px 5px 10px 5px;
    margin: 0 10px 0 20px;
    background-color: #fcfcfc;
    cursor: pointer;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 4px 0 0 rgb(75, 70, 46);
    -moz-box-shadow: 0 4px 0 0 rgb(75, 70, 46);
    box-shadow: 0 4px 0 0 rgb(75, 70, 46);
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
}
header ul li:hover {
    -webkit-box-shadow: 0 4px 0 0 rgba(191, 179, 112, 1);
    -moz-box-shadow: 0 4px 0 0 rgba(191, 179, 112, 1);
    box-shadow: 0 4px 0 0 rgba(191, 179, 112, 1);
}

.header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(50% - 125px);
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 8px #4C4C4C;
    opacity: 1;
}
.header h1 {
    margin: 0;
    padding-top: 20px;
    font-size: 5rem;
    -webkit-animation: fadeinLoad 0.2s, anim 1s 0.2s;
    animation: fadeinLoad 0.2s, anim 1s 0.2s;
}
.subheader {
    font-size: 1.7rem;
    text-transform: uppercase;
    -webkit-animation: fadeinLoad 0.2s, animsub 1s 0.2s;
    animation:  fadeinLoad 0.2s, animsub 1s 0.2s;
}

.message {
    float: right;
    top: calc(90% + 10px);
    position: absolute;
    margin-left: 85%;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
}

/* Animations */
@-webkit-keyframes animheader {
    0% {opacity: 0.65;}
    35% {opacity: 1;}
}

@keyframes animheader {
    0% {opacity: 0.65;}
    35% {opacity: 1;}
}

@-webkit-keyframes fadeinLoad {
    from {opacity: 0;}
    to {opacity: 0;}
}
@keyframes fadeinLoad {
    from {opacity: 0;}
    to {opacity: 0;}
}
@-webkit-keyframes waitOnLoad {
    0% {background-position-y: -145px;}
    100% {background-position-y: -145px;}
}

@keyframes waitOnLoad {
    0% {background-position-y: -145px;}
    100% {background-position-y: -145px;}
}

@-webkit-keyframes anim {
    0% {padding-top: 0; opacity: 0;}
    100% {padding-top: 20px; opacity: 1; }
}

@keyframes anim {
    0% {padding-top: 0; opacity: 0;}
    100% {padding-top: 20px; opacity: 1;}
}

@-webkit-keyframes animsub {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes animsub {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes animback {
    0% {background-position-y: -145px;}
    80% {background-position-y: -170px;}
    100% {background-position-y: -170px;}
}

@keyframes animback {
    0% {background-position-y: -145px;}
    80% {background-position-y: -170px;}
    100% {background-position-y: -170px;}
}

/*It defines itself */
@media (min-width: 1079px) {
    .header {
        top: calc(50% - 135px);
    }
}
@media (orientation: portrait) and (max-width: 450px) {
    body {
        background-position: 50% -90px;
        background-size: 400%, 400%;
    }
        @-webkit-keyframes waitOnLoad {
            0% {background-position-y: -65px;}
            100% {background-position-y: -65px;}
        }

        @keyframes waitOnLoad {
            0% {background-position-y: -65px;}
            100% {background-position-y: -65px;}
        }
        @-webkit-keyframes animback {
            0% {background-position-y: -65px;}
            80% {background-position-y: -90px;}
            100% {background-position-y: -90px;}
        }
        @keyframes animback {
            0% {background-position-y: -65px;}
            80% {background-position-y: -90px;}
            100% {background-position-y: -90px;}
        }
    .header h1 {
        font-size: 4rem;
    }
    header ul {
        float: none;
        padding: 0;
    }
    header ul li {
        margin: 0 5px 0 10px;
    }
    .message {
        margin-left: auto;
        margin-right: auto;
    }
}